@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* paleta de cores */

  --pallete-base: #ffe8d6;
  --pallete-dark: #3c3733;
  --pallete-orange: #8d6a58;
  --pallete-light-orange: #a38f81;
  --pallete-dark-orange: #877462;

  --pallete-t-base: #eed3be49;

  --teste: #efd6c1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ebc2a4;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
